@import '../../styles/_variables.scss';
@import '../../styles/global.scss';

nav {
  background-color: $navbar--background-color;
  height: $navbar--height;
  width: $navbar--width;
  position: fixed;
  text-align: left;
  z-index: 100;
  top: 0;

  i {
    cursor: pointer;
    position: relative;
		top: 15px;
		left: 10px;
		font-size: 21px !important;
		font-weight: lighter;
		color: white;
  }
}